<div class="container">
<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <div class="category">
      <% if task.completed? %>
        <i class="fas fa-check"></i>
      <% else %>
        <i class="far fa-square"></i>
    <% end %>
    <p><%= link_to task.title, tasks_id_path(task) %></p>
  </div>
<% end %>
</div>
